@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  font-size: 62.5;
}

:root {
  --container-width: 1270px;
  --gutter: clamp(16px, 4vw, 120px);
  --gutter-lg: clamp(16px, 6vw, 180px);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.container-lg {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--gutter-lg);
}

.page {
  min-height: 100vh;
}

.admin-layout {
  display: flex;
  flex-wrap: wrap;
}

.admin-menu {
  width: 256px;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 768px) {
  .admin-menu {
    width: 100%;
    height: auto;
  }
}
